http_interactions:
  - request:
      method: post
      uri: https://scholarsphere-rmd-api.dsrd.libraries.psu.edu/api/v1/collections
      body:
        encoding: UTF-8
        string: '{"metadata":{"title":"Sample Title","creator_aliases_attributes":[{"alias":"John Doe","actor_attributes":{"email":"jxd21@psu.edu","given_name":"John","surname":"Doe","psu_id":"jxd21"}}],"description":"Sample description"},"depositor":{"email":"jxd21@psu.edu","given_name":"John","surname":"Doe","psu_id":"jxd21"},"permissions":{},"work_noids":[]}'
        base64_string: imagecontent
      headers:
        Content-Type:
          - application/json
        X-Api-Key:
          - db9c21583ea98d16e42a73d9f78897c1ffc1dffcae781eb17f841cf421bd22b7a1a1228226437c5fdf6b6c9a8f537b17
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"4afc6ddc6c267d4289c6ecfb5dd342b2"
      body:
        encoding: UTF-8
        string: '{"message":"Collection was successfully created","url":"/resources/770a5367-9e5e-435d-ad55-e8ad568a7c31"}'
    recorded_at: Thu, 25 Mar 2021 18:27:58 GMT
recorded_with: VCR 6.0.0
