http_interactions:
  - request:
      method: post
      uri: https://scholarsphere-rmd-api.dsrd.libraries.psu.edu/api/v1/uploads
      body:
        encoding: UTF-8
        string: '{"extension":"pdf","content_md5":"checksum"}'
        base64_string: imagecontent
      headers:
        Content-Type:
          - application/json
        X-Api-Key:
          - db9c21583ea98d16e42a73d9f78897c1ffc1dffcae781eb17f841cf421bd22b7a1a1228226437c5fdf6b6c9a8f537b17
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"ee81494dad5c62cea902249b344149de"
      body:
        encoding: UTF-8
        string: '{"url":"https://s3.amazonaws.com/edu.psu.libraries.scholarsphere.rmd-api/cache/ac59f9e3-a40d-4bbc-82d5-a4e8c3161eef.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAUNVJ736SRK7M7YVC%2F20210325%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210325T182803Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=content-md5%3Bhost\u0026X-Amz-Signature=74012741a41ae551b885c2047e3d0d83f6f6dfcaff42f466516463fac0c07889","id":"ac59f9e3-a40d-4bbc-82d5-a4e8c3161eef.pdf","prefix":"cache"}'
    recorded_at: Thu, 25 Mar 2021 18:28:03 GMT
recorded_with: VCR 6.0.0
