http_interactions:
  - request:
      method: post
      uri: https://scholarsphere-rmd-api.dsrd.libraries.psu.edu/api/v1/uploads
      body:
        encoding: UTF-8
        string: '{"extension":".png","content_md5":"MwNrG//gg8XTCCTx/yBLkA=="}'
        base64_string: imagecontent
      headers:
        Content-Type:
          - application/json
        X-Api-Key:
          - db9c21583ea98d16e42a73d9f78897c1ffc1dffcae781eb17f841cf421bd22b7a1a1228226437c5fdf6b6c9a8f537b17
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"3ed8a738b95803799b6e3fd3e14186e2"
      body:
        encoding: UTF-8
        string: '{"url":"https://s3.amazonaws.com/edu.psu.libraries.scholarsphere.rmd-api/cache/9e6901e9-6dac-44d6-ab42-1d7f581315f8.png?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAUNVJ736SRK7M7YVC%2F20210325%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210325T182804Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=content-md5%3Bhost\u0026X-Amz-Signature=147f1f7cd971b443256a3755e6604a6b358a71a36b6d1635ac746e129058d5a1","id":"9e6901e9-6dac-44d6-ab42-1d7f581315f8.png","prefix":"cache"}'
    recorded_at: Thu, 25 Mar 2021 18:28:04 GMT
recorded_with: VCR 6.0.0
