http_interactions:
  - request:
      method: post
      uri: https://scholarsphere-rmd-api.dsrd.libraries.psu.edu/api/v1/uploads
      body:
        encoding: UTF-8
        string: '{"extension":".png","content_md5":"MwNrG//gg8XTCCTx/yBLkA=="}'
        base64_string: imagecontent
      headers:
        Content-Type:
          - application/json
        X-Api-Key:
          - db9c21583ea98d16e42a73d9f78897c1ffc1dffcae781eb17f841cf421bd22b7a1a1228226437c5fdf6b6c9a8f537b17
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"6f55de68eda2a35f6f0c502020a3d6c0"
      body:
        encoding: UTF-8
        string: '{"url":"https://s3.amazonaws.com/edu.psu.libraries.scholarsphere.rmd-api/cache/0d813aee-a2d7-4a23-b4fb-bddcdefa6910.png?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAUNVJ736SRK7M7YVC%2F20210325%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210325T182801Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=content-md5%3Bhost\u0026X-Amz-Signature=98051a376f9bfbbe473b288b36f6664efe415fe80a9739d13bdc2e741f5fdb0c","id":"0d813aee-a2d7-4a23-b4fb-bddcdefa6910.png","prefix":"cache"}'
    recorded_at: Thu, 25 Mar 2021 18:28:01 GMT
  - request:
      method: put
      uri: https://s3.amazonaws.com/edu.psu.libraries.scholarsphere.rmd-api/cache/0d813aee-a2d7-4a23-b4fb-bddcdefa6910.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAUNVJ736SRK7M7YVC/20210325/us-east-1/s3/aws4_request&X-Amz-Date=20210325T182801Z&X-Amz-Expires=900&X-Amz-Signature=98051a376f9bfbbe473b288b36f6664efe415fe80a9739d13bdc2e741f5fdb0c&X-Amz-SignedHeaders=content-md5%3Bhost
      body:
        encoding: UTF-8
        base64_string: |-
          imagecontent
      headers:
        Content-Md5:
          - MwNrG//gg8XTCCTx/yBLkA==
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        X-Amz-Request-Id:
          - 3E14XJMD3RGA8HF4
        X-Amz-Expiration:
          - expiry-date="Sat, 27 Mar 2021 00:00:00 GMT", rule-id="YjA1NjU3NmMtMWJkOS00MDcxLWJhZjctOGVlNGYwM2ZmYTg3"
        Etag:
          - '"33036b1bffe083c5d30824f1ff204b90"'
      body:
        encoding: UTF-8
        string: ''
    recorded_at: Thu, 25 Mar 2021 18:28:02 GMT
  - request:
      method: post
      uri: https://scholarsphere-rmd-api.dsrd.libraries.psu.edu/api/v1/ingest
      body:
        encoding: UTF-8
        string: '{"metadata":{"title":"Array of Hashes for Files","visibility":"open","work_type":"dataset","description":"Sample description","published_date":"2020-10-11","rights":"https://creativecommons.org/licenses/by/4.0/","creators":[{"psu_id":"dmc186"}]},"content":[{"file":"{\"id\":\"0d813aee-a2d7-4a23-b4fb-bddcdefa6910.png\",\"storage\":\"cache\",\"metadata\":{\"size\":63960,\"filename\":\"image.png\",\"mime_type\":\"image/png\"}}","deposited_at":"2012-05-16T00:00:00+00:00"}],"depositor":"agw13","permissions":{}}'
        base64_string: imagecontent
      headers:
        Content-Type:
          - application/json
        X-Api-Key:
          - db9c21583ea98d16e42a73d9f78897c1ffc1dffcae781eb17f841cf421bd22b7a1a1228226437c5fdf6b6c9a8f537b17
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"2dd288017217f0e93135c482c25d1612"
      body:
        encoding: UTF-8
        string: '{"message":"Work was successfully created","url":"/resources/e593e2d6-31e0-459b-8400-421d09efe265"}'
    recorded_at: Thu, 25 Mar 2021 18:28:03 GMT
recorded_with: VCR 6.0.0
