http_interactions:
  - request:
      method: post
      uri: https://scholarsphere-rmd-api.dsrd.libraries.psu.edu/api/v1/uploads
      body:
        encoding: UTF-8
        string: '{"extension":".png","content_md5":"MwNrG//gg8XTCCTx/yBLkA=="}'
        base64_string: imagecontent
      headers:
        Content-Type:
          - application/json
        X-Api-Key:
          - db9c21583ea98d16e42a73d9f78897c1ffc1dffcae781eb17f841cf421bd22b7a1a1228226437c5fdf6b6c9a8f537b17
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"7e0bfa7286a59d5bbb8584cd4b1e0a15"
      body:
        encoding: UTF-8
        string: '{"url":"https://s3.amazonaws.com/edu.psu.libraries.scholarsphere.rmd-api/cache/068d3015-33dc-4700-b531-48f0cf0f5175.png?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAUNVJ736SRK7M7YVC%2F20210325%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210325T182759Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=content-md5%3Bhost\u0026X-Amz-Signature=83a7b61a7b09b0d3d6b25c5959bc0339e0695f4248512ee0daa21e39266ab557","id":"068d3015-33dc-4700-b531-48f0cf0f5175.png","prefix":"cache"}'
    recorded_at: Thu, 25 Mar 2021 18:27:59 GMT
  - request:
      method: put
      uri: https://s3.amazonaws.com/edu.psu.libraries.scholarsphere.rmd-api/cache/068d3015-33dc-4700-b531-48f0cf0f5175.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAUNVJ736SRK7M7YVC/20210325/us-east-1/s3/aws4_request&X-Amz-Date=20210325T182759Z&X-Amz-Expires=900&X-Amz-Signature=83a7b61a7b09b0d3d6b25c5959bc0339e0695f4248512ee0daa21e39266ab557&X-Amz-SignedHeaders=content-md5%3Bhost
      body:
        encoding: UTF-8
        base64_string: |-
          imagecontent
      headers:
        Content-Md5:
          - MwNrG//gg8XTCCTx/yBLkA==
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        X-Amz-Request-Id:
          - JYEFX9RWBTFJN24M
        X-Amz-Expiration:
          - expiry-date="Sat, 27 Mar 2021 00:00:00 GMT", rule-id="YjA1NjU3NmMtMWJkOS00MDcxLWJhZjctOGVlNGYwM2ZmYTg3"
        Etag:
          - '"33036b1bffe083c5d30824f1ff204b90"'
      body:
        encoding: UTF-8
        string: ''
    recorded_at: Thu, 25 Mar 2021 18:28:00 GMT
[...]
  - request:
      method: put
      uri: https://s3.amazonaws.com/edu.psu.libraries.scholarsphere.rmd-api/cache/3b85f9ad-9721-4fb3-85ef-312a2b0494ff.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAUNVJ736SRK7M7YVC/20210325/us-east-1/s3/aws4_request&X-Amz-Date=20210325T182800Z&X-Amz-Expires=900&X-Amz-Signature=01c4bfbd2f5f3fc060336777484caaef95331975feb4ed9f6a196ff9890472ea&X-Amz-SignedHeaders=content-md5%3Bhost
      body:
        encoding: UTF-8
        base64_string: |-
          imagecontent
      headers:
        Content-Md5:
          - BMh4+xVJaKrfOkleICrlow==
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        X-Amz-Request-Id:
          - HJ077RED2ZX6VMC7
        X-Amz-Expiration:
          - expiry-date="Sat, 27 Mar 2021 00:00:00 GMT", rule-id="YjA1NjU3NmMtMWJkOS00MDcxLWJhZjctOGVlNGYwM2ZmYTg3"
        Etag:
          - '"04c878fb154968aadf3a495e202ae5a3"'
      body:
        encoding: UTF-8
        string: ''
    recorded_at: Thu, 25 Mar 2021 18:28:00 GMT
  - request:
      method: post
      uri: https://scholarsphere-rmd-api.dsrd.libraries.psu.edu/api/v1/ingest
      body:
        encoding: UTF-8
        string: '{"metadata":{"title":"Sample Title","visibility":"open","work_type":"dataset","description":"Sample description","published_date":"2020-10-11","rights":"https://creativecommons.org/licenses/by/4.0/","creators":[{"psu_id":"dmc186"}]},"content":[{"file":"{\"id\":\"068d3015-33dc-4700-b531-48f0cf0f5175.png\",\"storage\":\"cache\",\"metadata\":{\"size\":63960,\"filename\":\"image.png\",\"mime_type\":\"image/png\"}}"},{"file":"{\"id\":\"3b85f9ad-9721-4fb3-85ef-312a2b0494ff.pdf\",\"storage\":\"cache\",\"metadata\":{\"size\":16798,\"filename\":\"ipsum.pdf\",\"mime_type\":\"application/pdf\"}}"}],"depositor":"agw13","permissions":{}}'
        base64_string: imagecontent
      headers:
        Content-Type:
          - application/json
        X-Api-Key:
          - db9c21583ea98d16e42a73d9f78897c1ffc1dffcae781eb17f841cf421bd22b7a1a1228226437c5fdf6b6c9a8f537b17
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"2b4ece0eb3e44b6977fd7ed5dc1524a5"
      body:
        encoding: UTF-8
        string: '{"message":"Work was successfully created","url":"/resources/41e11a87-ff69-4911-a6bc-7c39174d37dc"}'
    recorded_at: Thu, 25 Mar 2021 18:28:01 GMT
recorded_with: VCR 6.0.0
