http_interactions:
  - request:
      method: post
      uri: https://scholarsphere-rmd-api.dsrd.libraries.psu.edu/api/v1/uploads
      body:
        encoding: UTF-8
        string: '{"extension":".png","content_md5":"MwNrG//gg8XTCCTx/yBLkA=="}'
        base64_string: imagecontent
      headers:
        Content-Type:
          - application/json
        X-Api-Key:
          - db9c21583ea98d16e42a73d9f78897c1ffc1dffcae781eb17f841cf421bd22b7a1a1228226437c5fdf6b6c9a8f537b17
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"821e7a81cccd173494c7adfed14d4725"
      body:
        encoding: UTF-8
        string: '{"url":"https://s3.amazonaws.com/edu.psu.libraries.scholarsphere.rmd-api/cache/518b4afd-e554-45c5-a615-d014c715d8a9.png?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAUNVJ736SRK7M7YVC%2F20210325%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210325T182804Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=content-md5%3Bhost\u0026X-Amz-Signature=54a4a7d022b7369b49dec846abbef78f8b8098cd185c7e220875e259a854dd7c","id":"518b4afd-e554-45c5-a615-d014c715d8a9.png","prefix":"cache"}'
    recorded_at: Thu, 25 Mar 2021 18:28:04 GMT
  - request:
      method: put
      uri: https://s3.amazonaws.com/edu.psu.libraries.scholarsphere.rmd-api/cache/518b4afd-e554-45c5-a615-d014c715d8a9.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAUNVJ736SRK7M7YVC/20210325/us-east-1/s3/aws4_request&X-Amz-Date=20210325T182804Z&X-Amz-Expires=900&X-Amz-Signature=54a4a7d022b7369b49dec846abbef78f8b8098cd185c7e220875e259a854dd7c&X-Amz-SignedHeaders=content-md5%3Bhost
      body:
        encoding: UTF-8
        base64_string: |-
          imagecontent
      headers:
        Content-Md5:
          - MwNrG//gg8XTCCTx/yBLkA==
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        X-Amz-Request-Id:
          - 6119187H7TQ5EFHB
        X-Amz-Expiration:
          - expiry-date="Sat, 27 Mar 2021 00:00:00 GMT", rule-id="YjA1NjU3NmMtMWJkOS00MDcxLWJhZjctOGVlNGYwM2ZmYTg3"
        Etag:
          - '"33036b1bffe083c5d30824f1ff204b90"'
      body:
        encoding: UTF-8
        string: ''
    recorded_at: Thu, 25 Mar 2021 18:28:05 GMT
recorded_with: VCR 6.0.0
